.intext{
    position: relative;
    z-index: 0;
    color: var(--body_font);
    text-align: center;
}

.section{
    margin-bottom: 2rem;
}

.education, .activity{
    margin: 1rem;
    text-align: center;
    background-color: var(--body_background_transparent);
}

.education p, .activity p{
    display: inline-block;
    margin: 1rem;
    font-size: 20px;
}
.about-me p {
    text-align: justify;
    text-justify: inter-word;
    margin: 2rem;
    font-size: 20px;
    background-color: var(--body_background_transparent);
  }
  