.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem;
  }
  
  .intro-container {
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 100%; /* Adjust the width as needed */
  }
  
  .intro-container h1 {
    text-align: center;

  }
  
  .intext p {
    text-align: center;
    margin-top: 5rem; 
    font-size: 30px;
  }
  
  /* Ensure your img has a defined size, and possibly use object-fit if needed */
 img {
    object-fit: contain;
    z-index: 1;
  }

  @media (max-width: 750px) {
    .intro-container{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
 img{
        width: 100%;
    }
  }
