.container{
    position: relative;
    z-index: 1;
    color: var(--body_font);
}
.works-content {
    position: relative;
    z-index: 1;
    display: block; 
    margin: 2rem;
    color: var(--body_font);
}

.slider-container {
    width: 100%;
}

@media screen and (max-width: 600px) {
    .works-content {
        margin: 1.25rem 1rem;
    }

    .works-content > h1 {
        margin: 1.5rem 0 1rem;
        font-size: 1.75rem;
    }

    .slider-container {
        width: calc(100% - 8px);
        margin: 0 auto 2rem;
    }
}
