.experience-piece {
    display: flex;
    align-items: flex-start; 
    justify-content: start; 
    margin-bottom: 20px;
    padding: 10px;
    background-color: var(--body_background_transparent);
  }
  
  .left-column {
    width:30%;
    flex-direction: column; 
    margin-right: 20px; 
  }
  
  .year, .company, h3 {
    margin: 0; 
    padding-bottom: 5px; 
  }
  
  .right-column {
    width:70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .position {
    font-weight: bold;
    padding-bottom: 5px; 
  }
  .project-description{
    text-align: left;
  }
  @media screen and (max-width: 768px) {
    .experience-piece {
        flex-direction: column; /* 在屏幕较小的情况下改为列布局 */
    }

    .left-column, .right-column {
        width: 100%; /* 子容器占满整个父容器的宽度 */
        margin-right: 0; /* 移除右侧栏的外边距 */
    }
}