.skill-piece {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
    border: 2px solid rgb(128, 0, 255);
    border-radius: 10px;
    max-width: 11rem;
    max-height: 20rem;
    background-color: var(--body_background_transparent);
}
.skill-piece img {
    width: 10rem;
    height: 10rem;
    margin: 1rem;
    object-fit: contain;
}
.skill-text{
    font-size: 100px;
    color: var(--body_font);
}
.skill-piece p{
    margin-top: 0;
    margin-bottom: 1rem;
}

@media screen and (max-width: 600px) {
    .skill-piece {
        max-width: none;
        min-height: 13rem;
        margin: 0 0.4rem;
    }

    .skill-piece img {
        width: 7rem;
        height: 7rem;
        margin: 1rem;
    }
}
