:root{
  --body_background: white;
  --body_font: black;
  --menu_hover: blue;
  --body_background_transparent: rgba(255, 255, 255, 0.9); 

  --rain_text: #8cc3eb;
  --rain_text_shadow1:#a4cfed;
  --rain_text_shadow:#a4cfed;
  --rain_buttom_text: #c0d5ee;
}
[data-Theme='dark'] {
  --body_background: black;
  --body_font: rgb(243, 239, 239);
  --menu_hover: rgb(129, 129, 224);
  --body_background_transparent: rgba(0, 0, 0, 0.5);
  
  --rain_text: #0d5605;
  --rain_text_shadow1: '0px 0px 8px rgba(32, 194, 14, 0.8)';
  --rain_text_shadow: '0px 0px 20px rgba(255, 255, 255, 1)';
  --rain_buttom_text: #171d17;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
